---
---

@import "minima";

/* Color of links and other bits an bolts of the website set as the same than on SyncroSim website */
:root {
    --apexOrange: #175cb6;
}

/* Links */
a {
    color: var(--apexOrange);
}

// Add logo to masthead
.site-title::before {
    content: url("images/logo/burnP3Plus-logo.png");
    display: inline-block;
    position: relative;
    padding-right: 10px;
    padding-top: 17px;
}

// Background pf site header
.site-header {
    background-color: #F0F0F0;
    padding-right: 15%;
    padding-left: 10%;
}

// Nav buttons
.site-nav {
    padding-top: 12px;
}

// Button text
.site-nav .page-link {
    color: --apexOrange;
    font-size: larger;
}

// Avoid wrapping of email address
.contact-list .u-email { font-size: 95%; }

// size of wrapper
.wrapper {
    max-width: calc(1000px - (30px * 2));
    padding-right: 15%;
    padding-left: 10%;
}

// Size of page content (text within page)
.page-content {
    padding-right: 15%;
    padding-left: 10%;
}

// Alignment of footer
.site-footer{
    padding-right: 15%;
    padding-left: 10%;
}

// Change footer col sizes
.footer-col-1 {
    width: calc(35% - (30px / 2));
}

.footer-col-2 {
    width: calc(40% - (30px / 2));
}

.footer-col-3 {
    width: calc(25% - (30px / 2));
}

// Sidebar box
.sidenav {
    width: 18%;
    position: fixed;
    top: 80px;
    right: 0px;
    background: #f1f1f1;
    padding: 12px 12px;
    display: inline-block;
}
/* Link */
.sidenav a {
    padding: 3px 3px 3px 12px;
    text-decoration: none;
    font-size: 12px;
    color: #000;
    display: block;
}
/* Link on focus */
.sidenav a:focus {
    font-weight: 700;
    background-color:#fff;
    color: #000;
}
/* Link on hover */
.sidenav a:hover {
    background-color:#fff;
    color: #000;
}
/* Link when selected (active page) */
.selected {
    font-weight: 700;
    background-color:#fff;
    color: #000;
}
/* Remove sidebar on small screens */
@media screen and (max-width: 1130px) {
    .sidenav {display: none;}
}
/* Lists */
.sidenav li {
    padding: 6px 6px 6px 12px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    color: #000;
    display: block;
}


// Indented text
.indentation {
 margin-left: 2rem;
 margin-bottom: 1rem; 
}

// List with no bullet icon
.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

// Spacer smaller than <br>
.spacer {
    height: 12px;
}

// Drop-down menu
/* Dropdown button */
.dropbtn {
    background-color: none;
    color: #000000;
    padding: 12px;
    font: inherit;
    font-size: larger;
    border: none;
    cursor: pointer;
} 

/* Dropdown container */
.dropdown {
    float: left;
    line-height: 54px;
    margin-left: 12px;
}

/* Dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}  

/* Links inside the dropdown */
.dropdown-content a {
    font: inherit;
    color: black;
    padding: 0px 12px;
    text-decoration: none;
    display: block;
} 

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
} 

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #e6e6e6;
}
